version: "3.9"

services:
  api:
    container_name: nest-api
    build: .
    ports:
      - "3030:3000"
    env_file:
      - .env.docker
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
